/* Permet de centrer tous les élements du body et de définir l'image de fond de la page */
body {
  background-image: url("../images/bg-sobre.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.top-buffer {
  margin-top: 20px;
}

/* Permet de modifier les titres de niveau h2 */
h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #1e1e1e;
  font-family: "Gabriela";
  font-size: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.75);
}

label {
  padding: 6.8px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(40, 40, 40, 0.9);
  color: white;
}

select,
option,
input {
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.75);
  font-family: "Roboto";
  font-size: 14px;
  color: #333333;
  border: none;
  cursor: pointer;
}

textarea {
  width: 300px !important;
  padding: 4px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

fieldset {
  background: rgba(225, 225, 225, 0.8);
  border: solid 1px rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

legend {
  font-family: "Roboto";
  font-size: 12px;
  background-color: rgba(150, 150, 150, 0.9);
  color: white;
  padding: 2px;
}

input[type="submit"],
input[type="button"] {
  padding: 12px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.75);
  font-family: "Roboto";
  font-size: 14px;
  color: #333333;
  border: none;
  cursor: pointer;
  margin-left: 4.5%;
}

input[type="submit"]:hover {
  background-color: #81f781;
  color: white;
  font-weight: bold;
}

input[type="button"]:hover {
  background-color: #f78181;
  color: white;
  font-weight: bold;
}
