/* Permet de supprimer le fond blanc lors du remplissage automatique */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;

  -webkit-text-fill-color: #fff;
}

/* Permet de centrer tous les élements du body et de définir l'image de fond de la page */
body {
  background-image: url("../images/bg-sobre.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

/* Permet de réaliser la loginBox */
.loginBox {
  position: absolute;
  top: 60%;
  left: 49.5%;
  box-sizing: border-box;
  width: 350px;
  height: 410px;
  padding: 80px 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
}

/* Permet de modifier l'image 'cadenas' */
.lock {
  position: absolute;
  top: calc(-100px / 2);
  left: calc(50% - 50px);
  overflow: hidden;

  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Permet de modifier les titres de niveau h2 */
h2 {
  font-family: "Roboto" !important;
  margin: 0 !important;
  padding: 0 0 30px !important;
  text-align: center !important;
  color: silver !important;
}

.top-buffer {
  margin-top: 20px;
}

h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #1e1e1e;
  font-family: "Gabriela";
  font-size: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.75);
}

/* Permet de modifier les paragraphes */
.loginBox p {
  font-family: "Oswald";
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  color: #fff;
}

/* Permet de modifier les inputs */
.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

/* Permet de modifier les inputs text et password */
.loginBox input[type="text"],
.loginBox input[type="password"] {
  font-size: 16px;
  height: 40px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

/* Permet de modifier le placeholder */
::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* Permet de modifier les inputs submit */
.loginBox input[type="submit"] {
  font-size: 16px;
  height: 40px;
  cursor: pointer;
  color: silver;
  border: none;
  border-radius: 20px;
  outline: none;
  background: #b11d06;
}

/* Permet de modifier les inputs submit au survol de la souris */
.loginBox input[type="submit"]:hover {
  color: silver;
  background: #ec2929;
}

/* Permet de modifier les liens */
.loginBox a {
  font-size: 12px;
  color: #fff;
}

.loginBox a:hover {
  font-size: 12px;
  color: #fff;
}

/* Permet de modifier les titres de niveau h4 */
h4 {
  font-family: "Roboto" !important;
  font-size: 14px !important;
  margin: 0 !important;
  padding: 0 0 20px !important;
  color: #f5a9a9 !important;
}

/* Permet de modifier le message d'erreur */
.msg {
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.right {
  margin-left: 62%;
}

.top {
  margin-top: 10px;
}

.up {
  margin-top: -9px !important;
}

label {
  text-align: justify;
}

/* Permet de modifier les titres de niveau h1 */
/*h1 {
  font-family: "Roboto";
  margin: 0;
  margin-top: 3%;
  padding: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
  color: #8258fa;
  text-shadow: #fc0 1px 0 10px;
}*/
