/* Permet de centrer tous les élements du body et de définir l'image de fond de la page */
body {
	background-image: url("../images/bg-sobre.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

.top-buffer {
	margin-top: 20px;
}

/* Permet de modifier les tables */
table {
	font-family: "Roboto";
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	overflow: hidden;
	z-index: 1;
}

/* Permet de modifier les cellules et en-têtes des tableaux */
th,
td {
	max-width: 100px;
	border: 1px solid #666666;
	padding: 8px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.75);
}

/* Permet de modifier les en-têtes des tableaux */
th {
	max-width: 100px;
	font-size: 15px;
	background-color: rgba(40, 40, 40, 0.9);
	color: white;
}

/* Permet de modifier les lignes des tableaux au survol de la souris */
tr:hover {
	background-color: green !important;
}

/* Permet de modifier les cellules des tableaux après le survol de la souris */
td:hover::after {
	background-color: green;
	content: "\00a0";
	height: 10000px;
	left: 0;
	position: absolute;
	top: -5000px;
	width: 100%;
	z-index: -1;
}

/* Permet de modifier les cellules des tableaux au survol de la souris */
td:hover {
	background-color: #58fa58;
}

/* Permet de modifier les titres de niveau h2 */
h2 {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	color: #1e1e1e;
	font-family: "Gabriela";
	font-size: 30px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.75);
}

label {
	padding: 6.8px;
	font-family: "Roboto";
	font-size: 14px;
	font-weight: bold;
	background-color: rgba(40, 40, 40, 0.9);
	color: white;
}

select,
option,
input[type="date"] {
	padding: 2px;
	background-color: rgba(255, 255, 255, 0.75);
	font-family: "Roboto";
	font-size: 14px;
	color: #333333;
	border: none;
	cursor: pointer;
}

button[type="button"],
button[type="submit"] {
	padding: 18px;
	width: 200px;
	background-color: rgba(255, 255, 255, 0.75);
	font-family: "Roboto";
	font-size: 14px;
	color: #333333;
	border: none;
	cursor: pointer;
	margin-top: 20px;
}

.export {
	margin-top: 0;
}

button[type="button"]:hover,
button[type="submit"]:hover {
	background-color: #81f781;
	color: white;
	font-weight: bold;
}

.surligneOn {
	background-color: red !important;
}

textarea {
	width: 100%;
	padding: 4px 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
}

/* #dt th,
td,
.th-sm {
  white-space: nowrap !important;
} */
input {
	color: grey !important;
}

td {
	word-wrap: break-word !important;
}